*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    flex-wrap:wrap;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* Content */

.title{
    display:flex;
    justify-content: center;
    font-weight: 750;
    font-size: 55px;
}
.main-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    background:mediumturquoise;
    padding: 2rem;
    border-radius: 20px;
    flex-direction: column;
  
}
input{
    outline: none;
}

.btn-box{
    display:flex;
    gap:20px;
    justify-content: center;
    width: 80%;
  
}
.task{
    width:100%;
    height:5vh;
    border-radius: 10px;
    border: dotted rgb(38, 117, 178);
    font-size: 30px;
    padding: 20px;
}

.btn-add{
    border:none;
    border-radius:10px;
    font-size:20px;
    padding:10px;
    background-color: rgb(26, 106, 26);
    color:white;
}

.add-box{
    margin-top:10px;
    width:80%;
    padding:10px;
    background-color: antiquewhite;
    border-radius: 15px;
}

.added-task{
    display:flex;
 
    justify-content: center;
    margin-top:10px;
    width: 100%;
    flex-wrap: wrap;
    gap:20px;
}

.newtask{
    display:flex;
    width:60%;
    height: 5vh;
    padding:18px;
    padding-left:10px;
    border: dotted rgb(38, 117, 178);
    border-radius: 10px;
    background-color: white;
    font-size:25px;
    font-weight:750;
    text-transform: uppercase;
    color:black
}

.btn-delete{
    border:none;
    border-radius:10px;
    font-size:20px;
    padding:6px;
    background-color: rgb(143, 22, 22);
    color:white;
}







